
body{
  padding-bottom: 100px;
  font-family: Source Sans Pro;

}

@font-face {
  font-family: 'Source sans Pro';
  src: url('holberton_school-icon\fonts') format('truetype');
  
}
/*----------------------------------------------section 1------------------------------------------------------*/
.header{
  width: 100%;
  min-height:100vh;
  background-image: url("images/headphones_hero_1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  
  
}
.nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
  height: 30px;
  
}
.nav-links{
  flex: 1;
  text-align: right;
  
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px;
  padding-right: 60px;
  position: relative;
  
  
}

.nav-links ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  font-family: Source Sans Pro; 
  
}

.nav-links ul li a:hover{
  color: #FF6565;
  transition: 0.4s;

  }
 
.pargraph-button{
  width: 90%;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.pargraph-button h1{
  padding-top: 150px;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  
}
.pargraph-button h4{
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;

  

}
.pargraph-button p{
  margin: 10px 0 40px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 20px;


}
.hero-button{
  display: inline-block;
  text-decoration: none;
  background: #FF6565;
  color: #FFFFFF;
  border: 1px solid #FF6565;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  border-radius: 20px;


}
.hero-button:hover{
  border: 1px solid #c2bcbc;
  background:#a39393;
  transition: 1s;
}
nav .holberton_school-icon-close{
  display: none;

}
nav .holberton_school-icon-menu{
  display: none;

}


/*----------------------------------------section 2------------------------------------------*/
.what-we-do-loren{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 120px;
}
.what-we-do-loren p{
  font-weight: 300;
  line-height: 22px;
  padding: 10px;

}

.pentagon-page {
  margin-top: 5%;
  display: flex;
  justify-content: space-between; 
}

.pentagon-image {
  flex-basis: 25%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
  font-size: 80px;
  color:#FF6565; 
}
@media(max-width: 375px){
  .pentagon-page {
    flex-direction: column;
  
  }

}
/*-----------------------------------------section 3---------------------------------------------*/
.part-3-dark{
  background-image: url('images/headphones_hero_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 120px;

}
.part-3-pargraph h1{
  color: #FFFFFF;
  text-align: center;
  padding-top: 150px;
}
.part-3-pargraph p{
  color: #FFFFFF;
  text-align: center;
  padding-top: 50px;
  

}
.dot-icon-flex {
  margin-top: 5%;
  display: flex;
  justify-content: space-between; 
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
 
   
 
}
.dot-image1 img,
.dot-image2 img,
.dot-image3 img,
.dot-image4 img{
  width: 190px;
  height: 190px;
  margin-left: 80px;
   

}
.dot-image1{
  position: relative;
}

.dot-image1 h1{
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 150px;
}
.dot-image1 h4{
  color: #FFFFFF;
  position: absolute;
  top: 90px;
  left: 105px;
  

}
.dot-image2{
  position: relative;
}

.dot-image2 h1{
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 150px;
}
.dot-image2 h4{
  color: #FFFFFF;
  position: absolute;
  top: 90px;
  left: 105px;
  

}
.dot-image3{
  position: relative;
}

.dot-image3 h1{
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 150px;
}
.dot-image3 h4{
  color: #FFFFFF;
  position: absolute;
  top: 90px;
  left: 105px;
  

}
.dot-image4{
  position: relative;
}

.dot-image4 h1{
  color: #FFFFFF;
  position: absolute;
  top: 45px;
  left: 150px;
}
.dot-image4 h4{
  color: #FFFFFF;
  position: absolute;
  top: 90px;
  left: 105px;
  

}
@media(max-width: 375px){
  .dot-icon-flex{
    flex-direction: column;
    
  }
  .dot-image1 img,
  .dot-image2 img,
  .dot-image3 img,
  .dot-image4 img{
  width: 190px;
  height: 190px;
  margin-left: 80px;
  margin-top: 50px;
   

}
.dot-image1{
  position: relative;
}

.dot-image1 h1{
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 700;
}
.dot-image1 h4{
  color: #FFFFFF;
  position: absolute;
  top: 140px;
  left: 110px;
  

}
.dot-image2{
  position: relative;
}

.dot-image2 h1{
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 700;
}
.dot-image2 h4{
  color: #FFFFFF;
  position: absolute;
  top: 140px;
  left: 110px;
  

}
.dot-image3{
  position: relative;
}

.dot-image3 h1{
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 700;
}
.dot-image3 h4{
  color: #FFFFFF;
  position: absolute;
  top: 140px;
  left: 110px;
  

}
.dot-image4{
  position: relative;
}

.dot-image4 h1{
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 700;
}
.dot-image4 h4{
  color: #FFFFFF;
  position: absolute;
  top: 140px;
  left: 110px;
  

}


}
/*----------------------------------------------------------------section 4---------------------------------*/
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 120px;

}
.contact-form h2{
  text-align: center;
}

button {
  background-color:#FF6565;
  color: #ffffff;
  border: none;
  margin-left: 130px;
  border-radius: 16px;
  cursor: pointer;
  padding: 12px;
  font-size: 12px;

}
#myInput{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-top:0;
  border-right:0;
  border-left:0;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.3);;
}
/*--------------------------------------------------section 5--------------------------------------*/
.footer-div{
  background: #071629;
  width: 100%;
  height: 200px;
  padding-left: 120px;
  margin-top: 130px;
}

.footer-section{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;

}
.logo-footer img{
  width: 130px;
  height: 30px;

}
.icon-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 30px;
  padding-right: 250px;
  width: auto;
  
}
.icon-ic_facebook{
  font-size: 30px;
  color: #FFFFFF;
  


}
.icon-ic_twitter{
  font-size: 30px;
  color: #FFFFFF;

}
.icon-ic_instagram{
  font-size: 30px;
  color: #FFFFFF;

}
.footer-copy h4{
  color: #494646;
  text-align: center;
 
}




@media(max-width: 375px){
  .pargraph-button h1{
    font-size: 20px;
  
  }
  .nav-links ul li{
    display: block;
    
  }
  .nav-links {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 200px;
    top: 30px;
    left:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  
    
    
  }
  nav .holberton_school-icon-close{
    display: block;
    color: #FFFFFF;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    color: #071629;
  
  }
  nav .holberton_school-icon-menu{
    display: block;
    color: #FFFFFF;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  
  }
  .nav-links ul{
    padding: 30px;
  }


}




